---
const { weather, temp, isVertical, size } = Astro.props;
let sizeClass, tempClass, celcClass, gapClass;

switch (size) {
    case 'xl':
        sizeClass = 'w-40 h-40';
        tempClass = 'text-8xl';
        celcClass = 'text-5xl'
        gapClass = 'gap-8';
        break;
    default:
        sizeClass = 'w-12 h-12';
        tempClass = 'text-3xl';
        celcClass = 'text-base'
        gapClass = 'gap-4';
        break;
}

---
<div class={`${isVertical ? 'flex flex-col justify-center': 'flex items-center'} ${gapClass}`}>
    <div class={`${sizeClass} bg-gray-300 rounded-full`}></div>
    <p class={`${tempClass} font-semibold flex gap-1`}>{temp}<span class={celcClass}>°C</span></p>
</div>